@import "../styles/colors.scss";

.h1 {
  color: $themecolor2;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &::after {
    color: $themecolor2;
  }
}
.h2 {
  font-size: 1.25em;
  margin: 0;
}
.h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

.albums {
  background: linear-gradient(-45deg, #ffffff 0%, #f1f2f6 100%);
  border: 3px solid $white;
  list-style-type: none;
  margin: 2rem auto;
  max-height: 100vh;
  max-width: 100vw;
  padding: 0;
  overflow: auto;
  width: 90vw;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.album {
  border-bottom: 1px solid $lightgrey;
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;

  &__band {
    color: $grey;
  }
  &__album {
    color: $grey;
  }
}

@media screen and (min-width: 480px) {
  .albums {
    width: 26rem;
  }
}
