@import '../styles/colors.scss';

.songs {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__song {
    border-bottom: 1px solid $white;
    color: $textColor;
    list-style-type: none;
    margin: 0.8rem;
    padding: 0.2rem 0;
    text-align: center;
  }
}
